avalon-logkit-2.1-src.tar.gz
excalibur-avalon-logkit-2.1-jpp-depmap.xml
excalibur-avalon-logkit-build.xml
excalibur-avalon-logkit.pom
excalibur-avalon-logkit-project-common.xml
excalibur-buildsystem.tar.gz
pom-maven2jpp-depcat.xsl
pom-maven2jpp-mapdeps.xsl
pom-maven2jpp-newdepmap.xsl
